html {
  height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.body-in {
  position: relative;
  margin: 0;
  background: #64a481 url(../img/devoops_pattern_b10.png) 0 0 repeat;
  background-repeat: repeat;
  background-size: cover;
}

.body-auth {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  background-image: url(../img/fondo_login.jpg);
  background-repeat: repeat;
  background-size: cover;
}

.body-sinpermisos {
  background: #ebebeb;
}

.no-box-shadow {
  box-shadow: none;
}

.#content {
  padding: 0 !important;
}

.footer-in-auth {
  z-index: 3000;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  text-align: center;
}

.footer-content {
  padding-top: 10px;
}

.fondo { /* FONDO LOGIN */
  background-image: url(../img/fondo_login.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.anuncios a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

.anuncio {
  border: 2px solid;
  border-radius: 5px;
  margin-bottom: 3px;
}

.logo-anuncio {
  margin-top: 30px;
}

.anuncio-titulo h2 {
  color: #1e82c4;
  word-wrap: break-word;
}

.anuncio-subtitulo {
  color: #949ca9;
}

.divisor {
  border-bottom: 3px solid #64a481;
}

.descripcion,
.detalle {
  margin-top: 3px;
}

.detalle {
  border-bottom: 1px solid gray;
}

.lista-interior li,
.detalle p,
.detalle-descripcion p {
  word-wrap: break-word;
}

.detalle-titulo,
.detalle-descripcion {
  padding: 10px 20px;
}

.item-no-dot {
  list-style: none;
}

.top-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin-left: 30px;
}

.top-menu li {
  float: left;
  border-left: 1px solid #bdbdbd;
  border-right: 1px solid #bdbdbd;
}

.top-menu li i {
  padding: 0;
}

.top-menu li a {
  display: block;
  color: black;
  text-align: center;
  margin: 0 15px;
  text-decoration: none;
}

.top-menu li:hover {
  background-color: #d8d8d8;
}

.opcion {
  padding: 0;
}

.mensaje-login {
  padding-top: 5px;
  border: 2px solid #64a481;
  border-radius: 5px;
}

#sidebar-configuracion {
  background-color: #fcfcfc;
  margin-right: 20px;
  border-radius: 10px;
}

#sidebar-configuracion .nav.main-menu > li > a:hover,
#sidebar-configuracion .nav.main-menu > li > a:focus,
#sidebar-configuracion .nav.main-menu > li.active > a {
  border-radius: 10px;
}

#sidebar-configuracion span,
#sidebar-configuracion i {
  color: black;
}

.imagen-info {
  color: white;
  background-color: #64a481;
  border: 1px solid #1b8048;
  border-radius: 5px;
  text-align: center;
  padding: 8px;
}

.imagen-info p {
  margin-top: 5px;
}

.error-imagen,
.error-imagen,
.error-descripcion,
.error-idioma,
.error-carrera {
  display: none;
}

.error-imagen span,
.error-idioma span,
.error-descripcion span,
.error-carrera span,
.excluyente {
  color: red;
  font-weight: bold;
}

.importante {
  color: blue;
  font-weight: bold;
}

.eliminar_imagen {
  cursor: pointer;
}

.avatar-grande > img {
  width: 100px;
  height: 100px;
  border: 1px solid #f8f8f8;
}

.requisitos-label p {
  font-weight: bold;
  border-bottom: 3px ridge #f8f8f8;
  padding-bottom: 5px;
}

.requisitos-tabla {
  border: 1px solid #fcfcfc;
  border-top: 1px solid #fcfcfc;
}

.requisitos-tabla-checkbox {
  box-shadow: none;
  margin: 0 !important;
}

.form-group-requisito {
  margin-bottom: 0 !important;
}

.form-group-requisito-boton {
  margin-top: 0 !important;
}

#tab_logic_idioma,
#tab_logic_carrera {
  margin-bottom: 0;
}

.buscar {
  margin-bottom: 15px;
}

.iconspan {
  float: right;
  margin-right: 6px;
  margin-top: -20px;
  position: relative;
  z-index: 2;
}

.descripcion .btn-default {
  color: black;
}

#columna {
  overflow: auto;
  max-height: 260px;
}

#columna-buscar {
  overflow: auto;
  height: 60px;
}

.table a {
  color: black;
}

.panel-body table {
  margin-bottom: 0;
}

.panel-title a {
  text-decoration: none;
}

.titulo-filtro {
  margin-right: 5px;
}

.primer-elemento-filtro {
  border: none !important;
}

.filtro-submit {
  cursor: pointer;
}

.elminar-filtro {
  margin-top: 5px;
}

.elminar-filtro a {
  color: black;
  text-decoration: none;
}

.elminar-filtro span {
  color: red;
}

.label-success,
.btn-info,
.btn-info:visited {
  background-color: #64a481 !important;
}

.btn-info:hover {
  background-color: #1b8048 !important;
}

.combo-cuadro ul {
  list-style: none;
  padding: 0;
}

.combo-cuadro-label {
  font-weight: bold;
  font-size: 16px;
}

.combo-cuadro-contenido {
  margin-top: 5px;
}

.radiobtn {
  display: none;
}

.lista-radio {

}

.lista-radio li {
display: block;
}

.lista-radio li label{
padding-left: 30px;
position: relative;
left: -25px;
font-weight: normal;
}

.lista-radio li label:hover {
cursor: pointer;
}

.lista-radio li span {
display: inline-block;
position: relative;
top: 5px;
border: 2px solid #ccc;
width: 16px;
height: 16px;
background: #fff;
}

.radiobtn:checked + span::before{
content: '';
border: 2px solid #fff;
position: absolute;
width: 14px;
height: 14px;
background-color: #48D09B;
}

.icon-descargado-true {
  font-size: 24px;
  color: green;
}

.icon-descargado-false {
  font-size: 24px;
  color: red;
}

.aceptado {
  font-weight: bold;
  color: green;
}

.rechazado {
  font-weight: bold;
  color: red;
}

.check-listado {
  width: 100% !important;
}

@media all and (max-width: 370px) {
  .btn-registrar {
    margin-top: 5px !important;
    float: none !important;
  }

  div .pull-right {
    margin-top: 5px !important;
    float: none !important;
  }
}

@media all and (max-width: 550px) {
  .btn-registrar-2 {
    margin-top: 5px !important;
    float: none !important;
  }
}

@media all and (max-width: 600px) {
  .btn-registrar-3 {
    margin-top: 5px !important;
    float: none !important;
  }
}

@media all and (min-width: 1120px) {
  .top-menu li i {
    padding: 0 5px;
  }
}

@media all and (max-width: 1120px) {
  .top-menu li span {
    display: none;
  }
}

@media all and (max-width: 590px) {
  .footer-in-auth p {
    font-size: 12px;
  }
}
